Repository ccao-data/data-architecture, pull requests merged in 2024-04, with the labels that each got.

#389 Tweak dbt data docs sidebar
  .github/workflows/deploy_dbt_docs.yaml
  dbt/assets/ccao-script.js
Labels: documentation

#397 Add `class_dict.csv` dbt seed
  dbt/dbt_project.yml
  dbt/seeds/ccao/ccao.class_dict.csv
  dbt/seeds/ccao/docs.md
  dbt/seeds/ccao/schema.yml
Labels: dbt

#403 Update `ccao.class_dict` to include letter suffixes, refactor reporting views to use `ccao.class_dict` for class groupings
  aws-athena/views/reporting-vw_pin_township_class.sql
  aws-athena/views/reporting-vw_pin_value_long.sql
  dbt/seeds/ccao/ccao.class_dict.csv
Labels: dbt, aws

#411 Add `pin_test` dbt seed
  dbt/models/ccao/docs.md
  dbt/models/ccao/schema.yml
  dbt/seeds/ccao/ccao.pin_test.csv
  dbt/seeds/ccao/docs.md
  dbt/seeds/ccao/schema.yml
Labels: dbt
