Repository ccao-data/data-architecture, pull requests merged in 2024-05, with the labels that each got.

#421 Add initial LoA seed
  dbt/seeds/ccao/ccao.class_dict.csv
  dbt/seeds/ccao/ccao.loa.csv
  dbt/seeds/ccao/docs.md
  dbt/seeds/ccao/schema.yml
Labels: dbt

#416 Test conditionally forward filling `default.vw_pin_universe`
  aws-athena/views/default-vw_pin_universe.sql
Labels: aws

#426 Add nbhd code to Open Data - Assessed Values
  aws-athena/views/default-vw_pin_history.sql
Labels: aws, open data

#413 Reporting views for municipalities
  aws-athena/views/reporting-vw_assessment_roll_muni.sql
  aws-athena/views/reporting-vw_pin_township_class.sql
  dbt/models/reporting/docs.md
  dbt/models/reporting/reporting.vw_assessment_roll_muni.sql
  dbt/models/reporting/schema.yml
Labels: aws

#431 Refactor naming macro to use snake_case
  dbt/macros/generate_schema_name.sql
  dbt/macros/slugify.sql
  dbt/macros/tests/test_generate_schema_name.sql
  dbt/macros/tests/test_slugify.sql
  dbt/profiles.yml
Labels: dbt

#422 Refactor ratio stats Glue job to dbt python model
  .github/workflows/build_daily_dbt_models.yaml
  .gitignore
  aws-athena/ctas/reporting-ratio_stats_input.sql
  dbt/dbt_project.yml
  dbt/models/reporting/docs.md
  dbt/models/reporting/reporting.ratio_stats.py
  dbt/models/reporting/reporting.ratio_stats_input.sql
  dbt/models/reporting/reporting.vw_ratio_stats.sql
  dbt/models/reporting/schema.yml
  dbt/profiles.yml
  dbt/requirements.txt
Labels: dbt, aws

#443 Update `vw_pin_appeal` with new post-2020 logic cutoff
  aws-athena/views/default-vw_pin_appeal.sql
Labels: bug, aws, open data

#451 Add CCAO names and adjectives
  dbt/seeds/ccao/ccao.adjective.csv
  dbt/seeds/ccao/ccao.person.csv
  dbt/seeds/ccao/docs.md
  dbt/seeds/ccao/schema.yml
Labels: documentation

#430 Add municipality level top-5 view and update muni assessment roll view
  aws-athena/views/reporting-vw_assessment_roll_muni.sql
  aws-athena/views/reporting-vw_top_5_muni.sql
  dbt/models/reporting/docs.md
  dbt/models/reporting/reporting.vw_top_5_muni.sql
  dbt/models/reporting/schema.yml
Labels: aws

#452 Remove common area from nonlivable modeling group
  dbt/models/default/schema/default.vw_pin_condo_char.yml
  dbt/models/model/model.vw_pin_condo_input.sql
Labels: new data/feature
